
/* COMMUNITY CUSTOM STYLES */
/* ul#groups-list li {display:none;} */
ul#groups-list li.is-member {display:block;}
/*
ul#groups-list .action {display:none;}
.item-list-tabs li#groups-all {display:none;}
.item-list-tabs li#groups-personal {display:none;}
#groups-dir-list #pag-top, #groups-dir-list #pag-bottom, #group-create-nav {display:none;}

#subnav .feed {display:none;}
#activity-filter-select {display:none;}
#group_members-order-select {display:none;}
#group-dir-search {display:none;}
#groups-order-select {display:none;}
#search-members-form {display:none;}*/
#item-header #item-header-content {display:none;}
#item-header #item-actions * {display:none;}
/*
#bpfb_addLinks {display:none;}
.my-activity .activity {display:none;}
#activity-personal-li, #groups-personal-li, #profile-personal-li {display:none;}
#public-personal-li, #edit-personal-li, #notifications-sort-order {display:none;}*/

/* buddy group background */
#buddypress #item-header {padding:20px; background-color:#fff; opacity:.9; background-image: url("../images/grups.jpg"); margin-bottom:20px;}
#buddypress div#item-header img.avatar {margin:0px;}

/* buddy imagenes una al lado de otra no hacia abajo*/
.bpfb_images br {
    display: none !important;
}
.bpfb_images a.thickbox img {margin:1%;}
