.headbutton {
	display:inline-block; padding:$headbuttonpad; color: $white; background-color:$color1; @extend #transition; font-weight:bold;
}
.headbutton:hover {background-color:lighten($color1, 20%); cursor:pointer; @extend #transition;}
.button { @extend .headbutton; padding:$buttonpad; @extend #transition; }
.button.circle { border-radius:20px; padding: 6px 13px;}
.button.bordercircle { border-radius:20px; padding: 6px 13px; border:2px solid $color1; color:$color1; font-weight:bold; background-color:transparent;}

.loginbutton { color: $white; background-color:$color1; @extend #transition; border-radius:0px 0px 50% 50%; margin-top:0px; padding:10px 35px 25px 35px;}
.loginbutton:hover {background-color:lighten($color1, 20%); cursor:pointer; @extend #transition;}

.albaMusica { text-align:center; padding:6%; margin-top:10px;}
.albaMusica:hover { background-color: #fff; }

.pagechild.current { color:$color1 !important; font-weight:bold !important;}

/* BUDDY BUTTONS DEACTIVATION */
.button.fav.bp-secondary-action {display:none;}
.button.acomment-reply.bp-primary-action {display:none;}

/* IPRO DOWNLOADS */
.iproDownloads div:hover {background-color:#f4f4f4;}

input#aw-whats-new-submit, .bpfb_submit, #bpfb_submit {font-size:1em !important; background-color:$color1 !important; border: 1px solid #fff !important; color:#fff !important;}
#bpfb_link_url_preview, #bpfb_video_url_preview, .qq-upload-button {font-size:1em !important; background-color:$color2 !important; border: 1px solid #fff !important; color:#fff !important; margin-top:10px;}
#bpfb_cancel, #bpfb_cancel_action {font-size:1em !important; background-color:$darkgrey !important; border: 1px solid #fff !important; color:#fff !important;}

#bpfb_video_url, #bpfb_link_preview_url {color:#666 !important;}
