.headbutton {
	display:inline-block; padding:$headbuttonpad; color: $white; background-color:$color1; @extend #transition; font-weight:bold;
}
.headbutton:hover {background-color:lighten($color1, 20%); cursor:pointer; @extend #transition}
.button { @extend .headbutton; padding:$buttonpad; @extend #transition; }
.button.circle { border-radius:20px; padding: 6px 13px;}
.button.bordercircle { border-radius:20px; padding: 6px 13px; border:2px solid $color1; color:$color1; font-weight:bold; background-color:transparent;}
